@model DataViewModel;
@{
    ViewData["Title"] = "Data";
}
<h1>@ViewData["Title"]</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
        <strong>Title:</strong> <code>@Model.NewBook.Title</code>
        <strong>Author:</strong> <code>@Model.NewBook.Author</code>
    </p>
}


